
/* Top nav bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100%;
  background-color: #f5f5f5;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  color: black;
  padding: 1.5em;
  position: fixed;
  top: 0;
  z-index:1;
 }

 span.title {
  font-family: 'Bungee', cursive;
  font-size: 30px;
 }

 span.new-tweet {
  font-family: 'Source Sans Pro', sans-serif;
 }


 @media only screen and (min-width: 1024px) {
   nav {
     background-color: #4056a1;
     color: white;
     background-image: unset;
     z-index:1;
   }
 }
 
 
 