nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
 }

 span.title {
  font-family: 'Bungee', cursive;
  font-size: 30px;
 }

 span.new-tweet {
  font-family: 'Source Sans Pro', sans-serif;
 }

 .title {
   display: flex;
   justify-content: flex-start;
 }

 .new-tweet {
   display: flex;
   justify-content: flex-end;
   align-items: center;
  
 }