.new-tweet > form > textarea {
  width: 100%;
  border: none;
  overflow: hidden;
  background-color: inherit;
  border-bottom: 4px #545149 solid;
}

.counter {
  float: right;
  font-family: 'Bungee', cursive;
}

.button {
  color: white;
  background-color: #4056A1;
  font-size: 24px;
  padding: 5px 10px;
  font-family: 'Bungee', cursive;
} 